<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 面向接口开发 -->
<mapper namespace="com.bw.mapper.EmpMapper">

	<!-- sql 要注意测试 -->
	<select id="selectEmp" resultType="Emp">
		select e.*, d.departname departname2 from emp e 
		left outer join depart d on e.departid=d.departid
		where 1=1
		<if test="empname!=null and empname!='' ">
			and e.empname like '%${empname}%'
		</if>
		
		 order by empid desc
	</select>

	<select id="selectEmpById" resultType="Emp">
		select * from emp e where empid=${value}
	</select>
	
	
	<select id="getDepartList" resultType="map">
		select * from Depart d where 1=1
	</select>
	
	<select id="getJobList" resultType="map">
		select * from Job d where 1=1
	</select>
	
	<insert id="insertEmp">
		insert into emp (empname,empdesc,birth,departid,jobid,age,sex) values
		(#{empname}, #{empdesc}, #{birth}, #{departid}, #{jobid}, #{age}, #{sex})
	</insert>
	
	<delete id="deleteEmp">
		delete from emp where empid=${value}
	</delete>
	
	
	<select id="selectDepartById" resultType="Depart">
		select * from depart d where departid=${value}
	</select>
	
	
</mapper>
